#page{
    margin-top: 60px;
}

#ajaxContainer{
    float: right;
}

/* Container in the top-bar where the login/logout button will be */
#buttonContainer{
    float: right;
    margin: 9px 10px 0 0;
}

#loginNavigator{
    text-align: right;
    margin-top: 0;
}

#formContainer{
    width: 50%;
}

.nameColumn{
    width: 39%;
    float: left;
}

.fieldColumn{
    width: 60%;
    float: right;
}

#hideImage:hover{
    border: 1px solid black;
}

#tableContainer{
    width: 100%;
}

#movieList{
    width: 100%;
}

#greetText{
    margin: 10 0 5 0;
}

#wrapper{
    width: 100%;
    padding: 5px;
    background: #F0F0F0;
    box-shadow: 2px 2px 2px #D6D6D6;
    border-radius: 5px;
    padding-bottom: 8px;
    margin-bottom: 25px;
}

#storeButton{
    margin-left: 10px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}
.rating > span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before,
.rating > span.active:before,
.rating > span.active ~ span:before {
  content: "\2605";
  position: absolute;
}

.btn-right{
  margin-left: 5px;
}

.btn-individual{
  border: 1px solid light-gray;
}

#sortionContainer{
    width: 100%;
    text-align: right;
    margin: 5px 0 5px 0;
}

.cover{
    width: 60px;
    float: left;
}

.info{
    text-align: left;
    float: right;
    width: 40%;
}

.error{
  font-style: italic;
  margin: 10px 0 5px 0;
}

.isFalse{
  border: 2px solid red;
}

#movieTitle{
    width: 80%;
    float: left;
}

#storeButton{
    width: 18%;
    float: right;
}

#ajaxloader{
    margin-top: 8px;
}

